<ion-content>
	<div class="padding">

		<div class=logo>
			<ion-img src="https://cloud.axsiow.ovh/TEMA_New_LogoV1.1_Transparent.png"> </ion-img>
		</div>

	</div>
	<ion-card>
		<ion-card-header>
		 	<ion-card-title>TEMA</ion-card-title>
		</ion-card-header>
	  
		<ion-card-content>
			Bivenue sur TEMA. Une application en construction pour tester son éligibilité au don du sang.
			Sous forme de test dans l'onglet Test, d'une carte où l'on peut voir les points de collects les plus proches de notre position.
			Et sa page profil où nous pouvons sauvegarder nos tests.
			<br>
			/!\ Cette application n'est pas fini et encore en phase de création. /!\
		</ion-card-content>
	  </ion-card>
</ion-content>